<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о продукте</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="product-info">
    <h1 th:text="${product.name}"></h1>
    <p>ID: <span th:text="${product.id}"></span></p>
    <p>Цена: <span th:text="${product.price}"></span></p>
    <p>Описание:<br><span th:text="${product.description}"></span></p>

    <a class="back-link" href="/product">Назад к списку продуктов</a>
</div>
</body>
</html>
