<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <link rel="stylesheet" href="/../static/css/styles.css" />
</head>
<body>
<div class="user-info-container">
    <h1>Информация о пользователе</h1>

    <!-- Предположим, что у вас есть поля в объекте User -->
    <p>ID пользователя: <span th:text="${user.id}"></span></p>
    <p>Имя пользователя: <span th:text="${user.username}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <p>Роль: <span th:text="${user.role}"></span></p>

    <!-- Ссылка на редактирование пользователя -->
    <a th:href="@{/admin/user/edit/{id}(id=${user.id})}">Редактировать пользователя</a>

    <!-- Ссылка на возвращение к списку пользователей -->
    <a href="/admin/user">Назад к управлению пользователями</a>
</div>
</body>
</html>
